.full-page-background {
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  background-size: auto; /* Scale the image to cover the entire container */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
}
